doctype html
html
  head
    title Audit Log Dashboard
    meta(http-equiv="refresh" content="300")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tabulator.min.css')
    script(src='/javascripts/tabulator.min.js')
  body
    block content
